.bing-login {
  width: 400px;
  height: 420px;
  border: solid 1px red;
  box-sizing: border-box;
}

.bing-login-bg {
  background: #093028; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #093028, #237a57); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #093028, #237a57); 
}
